

h1 {
    font-family: "Hind", sans-serif;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.6rem;
  margin: 0 auto;
  color: #1e2e4b;
  padding: 30px 0px 0px 30px;
}

ul {
    margin: 0;
    padding: 0;
}

li {
  list-style: none;
  font-family: "Hind", sans-serif;
  font-size: 08px;
  letter-spacing: 0.4rem;
  margin: 0 auto;
  color: #a3a5b3;
  padding: 5px 0px 5px 30px;
}

li:first-letter {
    text-transform: capitalize;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto; 
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px
  border: 1px solid;
  border-radius: 28px;
  box-shadow: 10px 13px 20px rgba(0, 0, 0, 0.15);
  background: linear-gradient(180deg, #f7f7f7 50%, #fff 60%);
}

.weather-temperature {
    font-family: "Hind", sans-serif;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin: 0 auto;
  color: #1e2e4b;
}

.weather-temperature strong {
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
}

.weather-temperature img {
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
}

.weather-temperature .units {
position:relative;
font-size: 10px;
top: -25px;
}

.weather-temperature .active {
  color: #1e2e4b;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.form-control {
 margin: 20px 12px;
}

.btn-primary{
border-radius: 50%;
width: 50px;
height: 46px;
border: 2px solid;
margin: 18px 10px 0px 0px;
color: white;
border-color:  #1e2e4b;
background-color:  #1e2e4b;
}

.btn-primary:hover{
  background-color: #b49c78;
  border-color: #b49c78;
}

.details {
  font-family: "Hind", sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.1rem;
  color: #b49c78;
  padding: 0px 0px 0px 30px;
}